{% extends '_layout.html' %}

{% block title %}Movie Rating App | Create Movie Rating{% endblock %}

{% block body %}
<h1 class="mb-5">Create Movie Rating</h1>
<p class="mb-3">Create a movie rating below</p>
<!-- TODO: Feature 2 -->
<form action="/movies" method="POST">
    <p>Movie Title:</p>
    <input type="text" name="title" id="title" required>
    <br><br>
    <p>Movie Director:</p>
    <input type="text" name="director" id="director" required>
    <br><br>
    <p>Movie Rating:</p>
    <select name="rating" id="rating" required>
        <option value=""></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br><br>
    <input type="submit" value="Submit">
</form>
{% endblock %}
